__pycache__
output/**
dist/**
.ipynb_checkpoints
*.egg-info
*.bundle.*
lib/
node_modules/
*.tsbuildinfo
yarn-error.log
*.tgz
MANIFEST
manual_dist/**
sagemaker_run_notebook/cloudformation.yml
docs/build/**